* {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.calculadora {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 160px repeat(5, 75px);
  background-color: #17659c;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 15px 10px 0px 5px #00000033;
  animation: animacion 1s ease;
}

@keyframes animacion {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

button {
  color: #fff;
  cursor: pointer;
  margin: 5px;
  padding: 0;
  border-radius: 0.5rem;
  font-size: 1.5em;
  border: none;
  background-color: #40474b;
  box-shadow: 1px 1px 5px 1px #000;
}

button:active {
  background-color: #363636;
}

button:focus {
  outline: none;
}
.col-2 {
  grid-column: span 2;
}

.display {
  color: #fff;
  grid-column: 1 / -1;
  padding: 16px;
  display: flex;
  margin: 10px 10px 20px;
  flex-direction: column;
  align-items: flex-end;
  background-color: #363636;
  border-radius: 0.5rem;
  text-align: right;
  justify-content: space-between;
  word-break: break-all;
  box-shadow: 0px 0px 0px 10px #00000033;
}

#valor-actual {
  font-size: 1.5em;
}

#valor-anterior {
  font-size: 2em;
}

.texts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  animation: animacion-2 1s ease;
}

@keyframes animacion-2 {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

.social-media {
  position: fixed;
  top: 1rem;
  left: 1rem;
  animation: animacion-4 1.5s ease;
}
.social-media img {
  width: 60px;
  height: 60px;
}
/* MODO OSCURO */
.mode-night {
  position: fixed;
  z-index: 999;
  right: 2vh;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-weight: bold;
  font-size: 32px;
  background-color: #1c2833;
  cursor: pointer;
  outline: 0;
  border: 0;
  top: 1vh;
  animation: animacion-4 1.5s ease;
  box-shadow: none;
}

@keyframes animacion-4 {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}
.mode-night:hover {
  transition: 0.5s ease;
  background-color: #fff;
}
.dark-mode {
  background-color: #1c2833;
  color: #fff;
}

#climate {
  font-size: 2rem;
  text-align: center;
  animation: animacion-3 1.5s ease;
}

@keyframes animacion-3 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}
/* Responsive */
@media (max-width: 400px) {
  .calculator {
    left: 4vh;
    width: 70%;
  }
  .mode-night {
    top: 1vh;
    left: 1vh;
    width: 4rem;
    height: 4rem;
    font-size: 30px;
  }
  #climate {
    font-size: 1.5rem;
  }
  .social-media {
    position: fixed;
    left: 19rem;
  }
  .social-media img {
    width: 4rem;
    height: 4rem;
  }
}
